@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap');
@media (prefers-color-scheme: dark){
    :root{
        --border:#1a1a1a;
        --light:#fff;
        --dark:#242424;
        --backborder:#292929;
        --back:#202124;
        --color:#202124;
        --color2:#202124;
        --ccc:#ccc;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --border:#d4d4d4;
        --light:#242424;
        --dark:#242424;
        --backborder:#f2f2f2;
        --back:#fff;
        --color:#fff;
        --color2:#fff;
        --ccc:#ccc;
    }
}
body{
    outline:none;
    border:none;
    margin:none;
    padding:none;
    background-color:var(--back);
    background-image: none;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    font-family: IBM Plex Sans;
    color:var(--light);
    transition: background 1s;
}

.replit-auth-button{
    color: var(--back);
    background-color: var(--light);
    background-size: 18px;
    background-position: 16px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 44px;
    font-weight: 600;
    line-height: 40px;
    width: 270px;
    height: 44px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.replit-auth-button:hover{
    filter: brightness(85%);
}
.profile{
    margin:20px;
    position:absolute;
    color: var(--dark);
    background-color: var(--color);
    border: none;
    border-radius: 44px;
    font-weight: 600;
    right:20px;
    top:20px;
    width: 220px;
    height: 44px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.profile_test{
    background-color: var(--color);
}
.profile:hover{
    filter: brightness(85%);
}

.logo{
    border-radius:10px;
    background-color:var(--color);
    transition: all .2s;
    position:absolute;
    top:70px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding:15px;
}

@media (max-width: 520px){
    .logo{
        width:400px;
        height:auto;
    }
}
@media (max-width: 420px){
    .logo{
        width:300px;
        height:auto;
    }
}
.logo:hover{
    filter: brightness(85%);
}
.user_list{
    text-align:center;
    position:absolute;
	text-align:left;
    top:260px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}
.data{
    display:flex;
    text-align:center;
    position:absolute;
	text-align:left;
    top:300px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}

.name2{
    position:absolute;
    top:100px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}

.data2{
	border: 2px solid var(--border);
    line-hight:40px;
    text-decoration:none;
	position:relative;
    color:var(--light);
    font-weight:800;
    font-size:15;
    text-align:left;
    padding:15px;
    margin:5px;
    float:right;
    width:170px;
    min-height:190px;
    background:var(--backborder);
    border-radius:10px;
	transition: all .2s;
}
@media (max-width: 800px) {
  .data2 {
    flex-direction: column;
  }
}

#usershover:hover{
	border: 2px solid var(--color);
    filter: brightness(85%);
}

.booogle_users{
    position:absolute;
    top:160px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.last_online{
    cursor:pointer;
    position:absolute;
    top:220px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:40px;
    width:100px;
    background:var(--backborder);
    color:var(--light);
    border: 2px solid var(--border);
    border-radius:10px;
	transition: all .2s;
}
.last_online:hover{
    border: 2px solid var(--color);
    filter: brightness(85%);
}

.datatext{
    text-align:left;
    font-weight:900;
    font-size:40;
}

.icon{
    font-family: 'Material Icons';
    font-size:50px;
    color:#24c270;
}
.icon2{
    font-family: 'Material Icons';
    
}

.name{
    position:absolute;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}

.name2{
    position:relative;
    left:10px;
}

.home{
    display:flex;
    text-align:center;
    position:absolute;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
    flex-direction: row;
}

.home a{
    border-radius:10px;
    position:relative;
    background-color: var(--color);
    margin:5px;
    padding:7px;
    float:right;
    transition: all .2s;
}

.home a:hover{
    filter: brightness(85%);
}

@media (max-width: 1300px) {
    .home {
        flex-direction: column;
    }
    body{
        background-image:none;
    }
}
@media (max-width: 1040px) {
  .profile {
    display:none;
  }
}

.navebarside{
    border-radius: 0px 5px 5px 0px;
	border:2px solid var(--border);
    text-align:left;
    height:100%;
    width:200px;
    background:var(--backborder);
    position:fixed;
    top:0px;
    left: 0px;
    transition: all .2s;
    
}
@media (max-width: 1000px) {
  .navebarside {
    width: 110px;
  }
}
.navebarside a{
    margin:10px 0px;
    padding:10px;
    display:block;
    text-decoration:none;
    color:var(--light);
    width:179px;
    height:20px;
    transition: width .2s;
}
@media (max-width: 1000px) {
  .navebarside a {
    width:89px;
  }
}
.navebarside a:hover{
   border-right: 2px solid var(--color);
}

.header{
    margin:20px 10px;
}

.navpick{
    border-right: 2px solid var(--color); 
}

.feedback{
    display:flex;
    text-align:center;
    position:absolute;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
    flex-direction: row;
}

.feedback a{
    position:relative;
    background-color: var(--backborder);
    margin:10px;
    padding:7px;
    float:right;
    transition: all .2s;
    height:200px;
    width:200px;
    color:var(--light);
    cursor:pointer;
    text-decoration:none;
}

.feedback a:hover{
    filter: brightness(85%);
}

.bugs{
    border-radius:10px;
    background:var(--backborder);
    text-align:center;
    position:absolute;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
    height:150px;
    width:600px;
}

.bug_yes_no{
    border-radius:5px;
    text-align:center;
    height:50px;
    width:280px;
    background:var(--color);
    cursor:pointer;
    transition: all .2s;
}

.bug_yes_no:hover{
    filter: brightness(85%);
}

.bug_no{
    position:absolute;
    right:10px;
    bottom:10px;
}
.bug_yes{
    position:absolute;
    left:10px;
    bottom:10px;
}

.makebug{
    top:200px;
    position:relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
}

.getbug{
    width:620px;
    display:flex;
    flex-direction:column;
    position:relative;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
}

.getbug a{
    padding:10px;
    border-radius: 5px;
    height:200px;
    margin:10px;
    width:600px;
    background:var(--backborder);
    border:2px solid var(--border);
    color:var(--light);
    transition: .2s all;
}

.getbug a:hover{
    border:2px solid var(--color);
}

.about{
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
    border-radius:10px;
    background:var(--backborder);
    height:400px;
    width:400px;
    position:relative;
    top:200px;
}

.about a{
    text-decoration:none;
    color:var(--light);
}

.title{
    color:var(--light);
    background:var(--backborder);
    border-radius:5px;
    border:none;
    height:40px;
    width:500px;
    padding: 10px;
    border:2px solid var(--border);
    transition:.2s all;
}

.title:focus{
    outline:none;
    border:2px solid var(--color);
}

.desc{
    font-family: IBM Plex Sans;
    resize:none;
    color:var(--light);
    background:var(--backborder);
    border-radius:5px;
    height:100px;
    width:500px;
    padding: 10px;
    border:2px solid var(--border);
    transition:.2s all;
}
.desc:focus{
    outline:none;
    border:2px solid var(--color);
}
@media (max-width: 500px){
    .title{
        width:300px
    }
    .desc{
        width:300px;
    }
}


.sumbmitbug{
    color: var(--dark);
    background-color: var(--color);
    background-size: 18px;
    background-position: 16px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 44px;
    font-weight: 600;
    line-height: 40px;
    width: 300px;
    height: 47px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.sumbmitbug:hover{
    filter: brightness(85%);
}

.mode{
    position:relative;
    top:200px;
    width:400px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
}

.mode2{
    cursor:pointer;
    background:none;
    height:50px;
    width:100px;
    border:none;
    color:var(--light); 
}


.colors{
    position:relative;
    top:300px;
    width:400px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
}

.color{
    border-radius:5px;
    cursor:pointer;
    background:var(--dark);
    width:400px;
    height:40px;
    border:none;
    outline:none;
    transition:.2s all;
    border:2px solid var(--border);
}

@media (max-width: 400px){
    .color{
        width:200px;
    }
}

.color:hover{
    border:2px solid var(--color);
}

.report{
    position: relative;
    background:var(--color);
    height:30px;
    width:100px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    top:150px;
    margin: 10px;
}

.report:hover{
    border: 2px solid #e1bc05;
    transition:.2s all;
}

.report:active{
    outline: 2px solid #e1bc05;
    outline-offset: 1px;
}

.clear{
    position: absolute;
    background:#a72020;
    height:30px;
    width:70px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    top:150px; 
    left: 50%; 
    -ms-transform: translate(-50%, 0%); 
    transform: translate(-50%, 0%);
}

.clear:hover{
    border: 2px solid #e82121;
    transition:.2s all;
}

.clear:active{
    outline: 2px solid #e82121;
    outline-offset: 1px;
}


.suggest{
    position: absolute;
    height: 50px;
    width: 300px;
    background: var(--light)fff;
    color:var(--dark);
    border:none;
    top: 300px;
    margin: 10px;
    cursor: pointer;
}

.suggest:hover{
    filter: brightness(85%);
}

.suggest2_box{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.hide{
    display:none;
}
.suggest2{
    padding: 10px;
    border-radius:10px;
    cursor: pointer;
    background:var(--color2);
    transition:.2s all;
}

.suggest2:hover{
    filter: brightness(85%);
}

.hidden{
    display:none;
}

.number:focus{
    outline:none;
    border:2px solid var(--color);
}
.number2{
    position: relative;
    top:400px; 
    height:400px;
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}
.number3{
    line-height: 200px;
    position:absolute;
    text-align:center;
    font-size:60px;
    font-wight:700;
    color:var(--light);
    background:var(--backborder);
    border-radius:5px;
    border:none;
    height:200px;
    min-width:430px;
    margin:auto;
    padding: 10px;
    border:2px solid var(--border);
    left: 50%;
    top:204px;
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    transition:.2s all;
}
.number{
    text-align:center;
    font-size:16px;
    color:var(--light);
    background:var(--backborder);
    border-radius:5px;
    border:none;
    height:44px;
    width:224px;
    padding: 10px;
    border:2px solid var(--border);
    transition:.2s all;
}

.number:focus{
    outline:none;
    border:2px solid var(--color);
}
.sumbmitnum{
    cursor:pointer;
    position: absolute;
    text-align: center;
    font-size: 16px;
    color: var(--light);
    background: var(--backborder);
    border-radius: 5px;
    height: 40px;
    width: 454px;
    padding: 10px;
    border: 2px solid var(--border);
    transition: .2s all;
    left: 50%;
    top:68px;
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.sumbmitnum:hover{
    border:2px solid var(--color);
}
.sumbmitnum:active{
    filter: brightness(85%);
    border:2px solid var(--color2);
}
@media (max-width: 500px){
    .number{
        width:112px;
    }
    .sumbmitnum{
        width:227px;
    }
    .number3{
        min-width:203px;
    }
}

.time{
    width: 90%;
    text-align: center;
    font-size: 200px;
    font-weight:700;
    position: absolute;
    left: 50%;
    top:50%;
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px){
    .time{
        font-size:100px;
        height:150px;
    }
}


.time2{
    text-align:center;
    height:260px;
    width:90%;
    position: absolute;
    left: 50%;
    top:300px;
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.date{
    font-size: 20px;
    font-weight:700;
    position: absolute;
    right: 0px;
    bottom:0px;
}
@media (max-width: 1200px){
    .time2{
        width:700px;
    }
    .date{
        right:100px;
    }
}
@media (max-width: 500px){
    .time{
        font-size:50px;
    }
    .date{
        right:5px
        font-size:20px;
    }
    .time2{
        height:100px;
        width:400px;
    }
}

.calc{
    text-align:center;
    position: absolute;
	width:397px;
    left: 50%;
    top:425px;
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.screen{
    transition:.2s all;
	overflow: hidden;
	text-overflow:ellipsis;
    line-height:100px; 
    color: #000;
    background: #fff;
    height: 100px;
    width:387px;
    border-radius:5px;
    border:2px solid var(--ccc);
    position: relative;
    top:0px;
    left: 50%;
    -ms-transform: translate(-50%, 0%); 
    transform: translate(-50%, 0%);
}

.but1{
    cursor: pointer;
    background: var(--backborder);
    border-radius:5px;
    border:2px solid var(--border);
    height: 75px;
    width: 75px;
    margin:2px .2px;
    line-hight:50px;
    transition:.2s all;
    color:var(--light);
}

.but1:hover{
    border:2px solid var(--back);
}

.but1:active{
    filter: brightness(85%);
}
.but2{
    color:var(--dark);
    cursor: pointer;
    background: var(--color);
    border-radius:5px;
    border:2px solid var(--color2); 
    height: 75px;
    width: 75px;
    margin:2px .2px;
    line-hight:50px;
    transition:.2s all;
}

.but2:hover{
    border:2px solid var(--back);
}
.but2:active{
    filter: brightness(85%);
}
.but3{
    cursor: pointer;
    margin:2px 0px;
    background: var(--color);
    border-radius:5px;
    border:2px solid var(--color2);
    height: 50px;
    width: 390px;
    line-hight:50px;
    transition:.2s all;
    color:var(--dark);
}

.but3:hover{
    border:2px solid #var(--back);
}
.but3:active{
    filter: brightness(85%);
}
@media (max-width: 550px){
    .but1{
        height: 60px;
        width: 60px;
    }
    .but2{
        height: 60px;
        width: 60px;
    }
    .but3{
        width: 316px;
    }
    .screen{
        width: 312px;
    }
}
.add{
    font-weight:700;
    border:none;
    position:fixed;
    height:40px;
    width:40px;
    padding: 10px;
    border-radius:40px;
    cursor: pointer;
    background:var(--color2);
    transition:.2s all;
    right: 10px;
    bottom:10px;
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}
.add2{
    font-weight:700;
    border:none;
    position:fixed;
    height:40px;
    width:40px;
    padding: 10px;
    border-radius:40px;
    cursor: pointer;
    background:#a8531a;
    transition:.2s all;
    left: 50px;
    bottom:10px;
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

.add:hover{
    filter: brightness(85%);
}
.add2:hover{
    filter: brightness(85%);
}




.tasks{
    justify-content:center;
    display:flex;
    flex-direction:column;
    position:relative;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
}

.tasks a{
    padding:10px;
    border-radius: 5px;
    min-height:120px;
    margin:auto;
    width:600px;
    background:var(--backborder);
    border:2px solid var(--border);
    color:var(--light);
    transition: .2s all;
}
@media (max-width: 620px){
    .tasks a{
        width:420
    }
}
@media (max-width: 440px){
    .tasks a{
        width:320
    }
}

.tasks a:hover{
    border:2px solid var(--color);
}

.set{
    text-align:center;
    padding:10px;
    border-radius: 5px;
    height:600px;
    margin:10px;
    width:600px;
    background:var(--dark);
    border:2px solid #000000;
    color:var(--light);
    transition: .2s all;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
}

.set::backdrop{
    background:#0d0d0d;
    opacity:.6;
}

.date2{
    font-wight:100;
    background:var(--backborder);
    border:2px solid var(--border);
    color:var(--light);
    border-radius: 5px;
    position:relative;
}

#howto{
    position:relative;
    top:300px;
}

.version{
    cursor:pointer;
    background:var(--backborder);
    border:2px  solid var(--border);
    padding:0px 5px;
	height:25px;
	line-height:25px;
	min-width:150px;
	position:fixed;
	bottom:0px;
	left:0px;
	border-radius: 0px 5px 0px 0px;
    transition: .2s all;
}

.version:hover{
    border:2px solid var(--color);
}


.laps{
    overflow-y:scroll;
    position:absolute;
    padding:10px;
    top:600px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
}

.shell{
    padding:5px;
    font-size:15;
    width:90%;
    position:fixed;
    bottom:0%;
    left:0%;
    height:40px;
    background:var(--backborder);
    border:2px solid var(--border);
    color:var(--light);
    transition: all .2s;
}

.shell:hover{
    border:2px solid var(--color);
}
.shell:focus{
    outline:none;
}

#shell{
    position:absolute;
    top:100px;
    left:10px;
    width:100%;
    text-align:left;
}

.change{
    position:fixed;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.game{
    background:var(--backborder);
    border:2px solid var(--border);
    padding:5px;
    text-align:left;
    height:600px;
    width:75%;
    margin:20px;
    border-radius: 10px;
    position:relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.game2{
    position:absolute;
    width:75%;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.game a iframe{
    border-radius: 10px;
    border:none;
    height:489px;
    width:100%;
    left: 50%;
    position:absolute;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.colorbut{
    color: var(--dark);
    background-color: var(--color);
    background-size: 18px;
    background-position: 16px;
    border: none;
    font-weight: 600;
    line-height: 40px;
    height: 47px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    width: 150px;
}

.colorbut:hover{
    filter: brightness(85%);
}

.start{
    position:absolute;
    width:310px;
    text-align:center;
    top:500px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
.colorbut1{
    border-radius: 44px 5px 5px 44px;
}
.colorbut2{
    border-radius: 5px 44px 44px 5px;
}

.start2{
    position:absolute;
    color: var(--dark);
    background-color: var(--color);
    background-size: 18px;
    background-position: 16px;
    background-repeat: no-repeat;
    border: none;
    top:500px;
    left:50%;
    border-radius: 44px;
    font-weight: 600;
    line-height: 40px;
    width: 300px;
    height: 47px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
.start2:hover{opacity:.8}

.theme{
    cursor:pointer;
    height:45px;
    width:300px;
    background:var(--backborder);
    color: var(--light);
    border:none;
    outline:none;
    transition: all .2s;
    border-radius: 5px;
}
.theme:hover{
    filter: brightness(85%);
    border:2px solid var(--color)
}

.settings{
    display:inline;
}

.backgroundpick_box{
    width:90%;
    justify-content: center;
    display:flex;
    flex-flow: wrap;
    text-align:center;
    position:absolute;
    top:300px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}

.backgroundpick{
    float:right;
    border-radius: 5px;
    margin:10px;
    border:2px solid var(--border);
    transition: all .2s;
    cursor:pointer;
    width:400px;
    height:185px;
    background-color:var(--backborder);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.backgroundpick:hover{
    border:2px solid var(--color)
}

.weather{
    border-radius:10px;
    position:absolute;
    top:200px;
    height:300px;
    width:500px;
    background-color:var(--backborder);
    border:2px solid var(--border);
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
    padding:10px;
}

#temp{
    position:absolute;
    font-size:60;
    font-weight:800;
    top:130px;
    left: 20px;
}
#feel{
    position:absolute;
    font-size:20;
    font-weight:500;
    top:200px;
    left: 20px;
}
#type{
    position:absolute;
    font-size:20;
    font-weight:500;
    top:95px;
    left: 20px;
    text-transform:capitalize;
}

#location{
    position:absolute;
    font-size:40;
    font-weight:700;
    top:50px;
    left: 20px;
}

#humid{
    position:absolute;
    font-size:30;
    font-weight:600;
    top:150px;
    left: 220px;
}

#min{
    position:absolute;
    font-size:15;
    font-weight:400;
    bottom:40px;
    left: 20px;
}
#max{
    position:absolute;
    font-size:15;
    font-weight:400;
    bottom:40px;
    left: 90px;
}

#link{
    position:absolute;
    top:35px;
    left: 220px;
}

#speed{
    position:absolute;
    font-size:15;
    font-weight:400;
    top:200px;
    left: 220px;
}
#deg{
    position:absolute;
    font-size:15;
    font-weight:400;
    top:220px;
    left: 220px;
}

#city{
    color:var(--light);
    height:30px;
    width:400px;
    border-radius:5px;
    background:var(--backborder);
    border:2px solid var(--border);
    transition:.2s all;
}
#city:hover,#subcity:hover{
    border:2px solid var(--color);
}
#city:focus{
    outline:none;
    border:2px solid var(--color2);
}

#subcity{
    cursor:pointer;
    color:var(--light);
    height:30px;
    width:80px;
    border-radius:5px;
    background:var(--backborder);
    border:2px solid var(--border);
    transition:.2s all;
}

#error{
    color:var(--light)
}
