<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "{{ url_for('static',filename='toplogo.png')}}" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <input type="image" src="{{url_for('static',filename='logo.png')}}" width="500" height="90" class="logo" onclick="window.open('/home','_self')">
        <button id="name" class="profile" onclick="window.open('/settings','_self')"></button>
        <div class="home">
            <a href="/calculator"><input type="image" src="{{url_for('static',filename='maths2.png')}}" width="200" height="200"></a>
            <a href="/time"><input type="image" src="{{url_for('static',filename='time2.png')}}" width="200" height="200"></a>
            <a href="/tasks"><input type="image" src="{{url_for('static',filename='task2.png')}}" width="200" height="200"></a>
            <a href="/number"><input type="image" src="{{url_for('static',filename='number2.png')}}" width="200" height="200"></a>
            <a href="/games"><input type="image" src="{{url_for('static',filename='game.png')}}" width="200" height="200"></a>
            <a href="/weather"><input type="image" src="{{url_for('static',filename='weather.png')}}" width="200" height="200"></a>
            <a href="/convert"><input type="image" src="{{url_for('static',filename='convert.png')}}" width="200" height="200"></a>
            <a href="/images"><input type="image" src="{{url_for('static',filename='image.png')}}" width="200" height="200"></a>
            <a href="/cps"><input type="image" src="{{url_for('static',filename='cps.png')}}" width="200" height="200"></a>
            <a id="admin" class="hidden" href="/admin"><input type="image" src="{{url_for('static',filename='admin2.png')}}" width="200" height="200"></a>
        
        </div>
        <div class="leavefeed">
            Please consider leaving feedback and a like.
            <a style="left:5px;" href="/feedback">Feedback</a>
            <a style="right:5px;" href="/__repl">Like</a>
        </div>
        <div class="suggest2_box">
            <input type="image" id="suggest0" src="{{url_for('static',filename='bug.png')}}" width="20" height="20" class="suggest2 hide" onclick="window.open('/bugs','_self')">
            <input type="image" id="suggest1" src="{{url_for('static',filename='feedback.png')}}" width="20" height="20" class="suggest2 hide" onclick="window.open('/feedback','_self')">
            <input type="image" id="suggest2" src="{{url_for('static',filename='color.png')}}" width="20" height="20" class="suggest2 hide" onclick="window.open('/color','_self')">
            <input type="image" id="suggest3" src="{{url_for('static',filename='darkandlight.png')}}" width="20" height="20" class="suggest2 hide" onclick="window.open('/theme','_self')">
            <input type="image" id="suggest4" src="{{url_for('static',filename='background.png')}}" width="20" height="20" class="suggest2 hide" onclick="window.open('/background','_self')">
            <input type="image" src="{{url_for('static',filename='settings2.png')}}" width="20" height="20" class="suggest2 settings" onclick="show()">
        </div>
		<footer>
			<div id="version" class="version" onclick="window.open('/changelog','_self')"></div>
		</footer>
        <script>
            name = {{name|tojson}};
            version = {{version|tojson}};
            color = {{color|tojson}};
            theme = {{theme|tojson}};
            photo = {{photo|tojson}};
            console.log(photo)
            var j = true
            var r = document.querySelector(":root")
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            if (theme == "dark"){
                r.style.setProperty("--border","#1a1a1a")
                r.style.setProperty("--light","#fff")
                r.style.setProperty("--dark","#242424")
                r.style.setProperty("--backborder","#292929")
                r.style.setProperty("--back","#202124")
            }
            else if (theme == "light"){
                r.style.setProperty("--border","#d4d4d4")
                r.style.setProperty("--light","#242424")
                r.style.setProperty("--dark","#242424")
                r.style.setProperty("--backborder","#f2f2f2")
                r.style.setProperty("--back","#fff")
            }
            document.getElementById("name").innerText = name
            document.getElementById("version").innerText = "Version "+version
            document.getElementById("theme").content=color[0]
            r.style.setProperty("--color",color[0])
            r.style.setProperty("--color2",color[1])
            if (name === "GoodVessel92551"){
                document.getElementById("admin").style.display = "block"
            }
        
            function show() {
                if (j == true){
                    const time = setInterval(set, 200);
                    var i = 0
                    j=false
                    function set() {
                        console.log(i)
                        document.getElementById("suggest"+i).style.display = "inline"
                        i++
                        if(i >= 5){
                            clearInterval(time)
                        }
                    }
                }
                else{
                    const time2 = setInterval(hide, 200);
                    var i = 4
                    j=true
                    function hide() {
                        console.log(i)
                        document.getElementById("suggest"+i).style.display = "none"
                        i--
                        if(i <= -1){
                            clearInterval(time2)
                        }
                    }
                }
            
            
            }
        </script>
        <script src="/static/app.js"></script>
    </body>
</html>