<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "{{ url_for('static',filename='toplogo.png')}}" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <input type="image" src="{{url_for('static',filename='logo.png')}}" width="500" height="90" class="logo" onclick="window.open('/home','_self')">
        <button id="name" class="profile" onclick="window.open('/home','_self')"></button>
        <b style="font-size:30" class="photos textback">Booogle Photos</b>
        <b style="font-size:15" class="name textback">Click To Download</b>
        <b style="font-size:15" class="credit textback">If you use any of these images make sure to credit me (GoodVessel92551)</b>
        <div class="backgroundpick_box">
            <a class="backgroundpick" style="background-image: url(/static/background_low/bush.jpg);" href="/static/background/bush.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower.jpg);" href="/static/background/flower.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flowers.jpg);" href="/static/background/flowers.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/grass.jpg);" href="/static/background/grass.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/leaf.jpg);" href="/static/background/leaf.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/wall.jpg);" href="/static/background/wall.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/wall2.jpg);" href="/static/background/wall2.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/water.jpg);" href="/static/background/water.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/fern.jpg);" href="/static/background/fern.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/fern2.jpg);" href="/static/background/fern2.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/fern3.jpg);" href="/static/background/fern2.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower2.jpg);" href="/static/background/flower2.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower3.jpg);" href="/static/background/flower3.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower4.jpg);" href="/static/background/flower4.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower5.jpg);" href="/static/background/flower5.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower6.jpg);" href="/static/background/flower6.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flowers2.jpg);" href="/static/background/flowers2" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/leaf2.jpg);" href="/static/background/leaf2.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock.jpg);" href="/static/background/rock.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/waterfall.jpg);" href="/static/background/waterfall.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower7.jpg);" href="/static/background/flower7.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower8.jpg);" href="/static/background/flower8.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower9.jpg);" href="/static/background/flower9.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower10.jpg);" href="/static/background/flower10.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower11.jpg);" href="/static/background/flower11.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/flower12.jpg);" href="/static/background/flower12.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock3.jpg);" href="/static/background/rock3.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock4.jpg);" href="/static/background/rock4.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock5.jpg);" href="/static/background/rock5.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock6.jpg);" href="/static/background/rock6.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock7.jpg);" href="/static/background/rock7.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock8.jpg);" href="/static/background/rock8.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock9.jpg);" href="/static/background/rock9.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock10.jpg);" href="/static/background/rock10.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock11.jpg);" href="/static/background/rock11.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/rock12.jpg);" href="/static/background/rock12.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/grass2.jpg);" href="/static/background/grass2.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/green.jpg);" href="/static/background/green.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/green2.jpg);" href="/static/background/green2.jpg" alt="booogleimages" download="booogleimages" ></a>
            <a class="backgroundpick" style="background-image: url(/static/background_low/floor.jpg);" href="/static/background/floor.jpg" alt="booogleimages" download="booogleimages" ></a>
		</div>
        <footer>
			<div id="version" class="version" onclick="window.open('/changelog','_self')"></div>
		</footer>
        <script>
            name = {{name|tojson}};
            version = {{version|tojson}};
            color = {{color|tojson}};
            theme = {{theme|tojson}};
            photo = {{photo|tojson}};
            document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            var r = document.querySelector(":root")
            var photo = document.getElementById("photo")
            if (theme == "dark"){
                r.style.setProperty("--border","#1a1a1a")
                r.style.setProperty("--light","#fff")
                r.style.setProperty("--dark","#242424")
                r.style.setProperty("--backborder","#292929")
                r.style.setProperty("--back","#202124")
            }
            else if (theme == "light"){
                r.style.setProperty("--border","#d4d4d4")
                r.style.setProperty("--light","#242424")
                r.style.setProperty("--dark","#242424")
                r.style.setProperty("--backborder","#f2f2f2")
                r.style.setProperty("--back","#fff")
            }
            document.getElementById("theme").content=color[0]
            r.style.setProperty("--color",color[0])
            r.style.setProperty("--color2",color[1])
            document.getElementById("version").innerText = "Version "+version
            document.getElementById("name").innerText = name
            function pick(a) {
                console.log(a)
                photo.value = a
            }
        </script>
        <script src="/static/app.js"></script>
    </body>
</html>