<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "{{ url_for('static',filename='toplogo.png')}}" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <input type="image" src="{{url_for('static',filename='logo.png')}}" width="500" height="90" class="logo" onclick="window.open('/home','_self')">
        <button id="name" class="profile" onclick="window.open('/home','_self')"></button>
            <form class="makebug" method="post">
                <b class="textback">Bug Report</b>
                <p><input class="title" type="text" name="title" list="none" maxlength="70" placeholder="Title" required autofocus></p>
                <p><textarea class="desc" placeholder="Description" name="description" list="none" maxlength="250" spellcheck="true"required ></textarea></p>
                <p><input class="sumbmitbug" type="submit" value="Submit"></p>
            </form>
		<footer>
			<div id="version" class="version" onclick="window.open('/changelog','_self')"></div>
		</footer>
        <script>
            name = {{name|tojson}};
            version = {{version|tojson}};
            color = {{color|tojson}};
            theme = {{theme|tojson}};
            photo = {{photo|tojson}};
            window.addEventListener('resize', size);
            var av_height = screen.availHeight
            var scoll_height = document.body.scrollHeight
            if (av_height-scoll_height > 0){
                document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
            }
            function size() {
                var av_height = screen.availHeight
                var scoll_height = document.body.scrollHeight
                if (av_height-scoll_height < 0){
                    document.querySelector("body").style.setProperty("background-image","none")
                }else{
                    document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
                }
            }
            var r = document.querySelector(":root")
            if (theme == "dark"){
                r.style.setProperty("--border","#1a1a1a")
                r.style.setProperty("--light","#fff")
                r.style.setProperty("--dark","#242424")
                r.style.setProperty("--backborder","#292929")
                r.style.setProperty("--back","#202124")
            }
            else if (theme == "light"){
                r.style.setProperty("--border","#d4d4d4")
                r.style.setProperty("--light","#242424")
                r.style.setProperty("--dark","#242424")
                r.style.setProperty("--backborder","#f2f2f2")
                r.style.setProperty("--back","#fff")
            }
            document.getElementById("theme").content=color[0]
            r.style.setProperty("--color",color[0])
            r.style.setProperty("--color2",color[1])
            document.getElementById("version").innerText = "Version "+version
            document.getElementById("name").innerText = name
        </script>
        <script src="/static/app.js"></script>
    </body>
</html>