<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "{{ url_for('static',filename='toplogo.png')}}" type = "image/x-icon">
        <link rel="manifest" href="static/manifest.json">
    </head>
    <body>
        <input type="image" src="{{url_for('static',filename='logo.png')}}" width="500" height="90" class="logo" onclick="window.open('/home','_self')">
        <button id="name" class="profile" onclick="window.open('/home','_self')"></button>
            <form class="makebug" method="post">
                <h2>Pick Color</h2>
                <label>Main Color</label>
                <p><input class="color" id="color1" type="color" value="#ffffff" name="color1" autofocus></p>
                <label>Second Color (This is recommended to be slightly darker than the main color)</label>
                <p><input class="color" id="color2" type="color" value="#ffffff" name="color2"></p>
                <p><input class="colorbut colorbut1" type="submit" value="Submit">
                <input class="colorbut colorbut2" type="button" onclick="reset_it()" value="Reset"></p>
            </form> 
		<footer>
			<div id="version" class="version" onclick="window.open('/changelog','_self')"></div>
		</footer>
        <script>
            name = {{name|tojson}};
            version = {{version|tojson}};
            color = {{color|tojson}};
            document.getElementById("theme").content=color[0]
            var r = document.querySelector(":root")
            r.style.setProperty("--color",color[0])
            r.style.setProperty("--color2",color[1])
            var col1 = document.getElementById("color1")
            document.getElementById("color1").value = color[0]
            document.getElementById("color2").value = color[1]
            document.getElementById("version").innerText = "Version "+version
            document.getElementById("name").innerText = name
            function reset_it() {
                document.getElementById("color1").value = "#ff6600"
                document.getElementById("color2").value = "#a8531a"
            }
        </script>
        <script src="static/app.js"></script>
    </body>
</html>