<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "{{ url_for('static',filename='toplogo.png')}}" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
<body>
    <input type="image" src="/static/logo.png" width="500" height="90" class="logo" onclick="window.open('/home','_self')">
    <button id="name" class="profile" onclick="window.open('/home','_self')"></button>
    <div class="calc">
        <div class="screen" id="screen">Press or Type</div>
        <button class="but3" onclick="calc('=')">=</button>
        <br>
        <button class="but1" onclick="calc('1')">1</button>
        <button class="but1" onclick="calc('2')">2</button>
        <button class="but1" onclick="calc('3')">3</button>
        <button class="but2" onclick="calc('ac')">Ac</button>
		<button class="but2" onclick="calc('del')">Del</button>
        <br>
        <button class="but1" onclick="calc('4')">4</button>
        <button class="but1" onclick="calc('5')">5</button>
        <button class="but1" onclick="calc('6')">6</button>
        <button class="but2" onclick="calc('(')">(</button>
		<button class="but2" onclick="calc(')')">)</button>
        <br>
        <button class="but1" onclick="calc('7')">7</button>
        <button class="but1" onclick="calc('8')">8</button>
        <button class="but1" onclick="calc('9')">9</button>
        <button class="but2" onclick="calc('+')">+</button>
		<button class="but2" onclick="calc('*')">x</button>
        <br>
        <button class="but2" onclick="calc('ans')">Ans</button>
        <button class="but1" onclick="calc('0')">0</button>
        <button class="but2" onclick="calc('.')">.</button>
        <button class="but2" onclick="calc('-')">-</button>
		<button class="but2" onclick="calc('/')">÷</button>
    </div>
		<footer>
			<div id="version" class="version" onclick="window.open('/changelog','_self')"></div>
		</footer>
    <script>
        name = {{name|tojson}};
        version = {{version|tojson}};
        color = {{color|tojson}};
        theme = {{theme|tojson}};
        photo = {{photo|tojson}};
        document.querySelector("body").style.setProperty("background-image","url(/static/background/"+photo+".jpg)")
        var r = document.querySelector(":root")
        if (theme == "dark"){
            r.style.setProperty("--border","#1a1a1a")
            r.style.setProperty("--light","#fff")
            r.style.setProperty("--dark","#242424")
            r.style.setProperty("--backborder","#292929")
            r.style.setProperty("--back","#202124")
        }
        else if (theme == "light"){
            r.style.setProperty("--border","#d4d4d4")
            r.style.setProperty("--light","#242424")
            r.style.setProperty("--dark","#242424")
            r.style.setProperty("--backborder","#f2f2f2")
            r.style.setProperty("--back","#fff")
        }
        document.getElementById("theme").content=color[0]
        r.style.setProperty("--color",color[0])
        r.style.setProperty("--color2",color[1])
        document.getElementById("version").innerText = "Version "+version
        document.getElementById("name").innerText = name
        var num = ''
        var screen = ''
        var ans = 0
        document.onkeyup = function() {
            var key = event.key
            if (key == "X" || key == "x" || key == "*"){
                calc("*")
            }
            else if(key == "c"){
                calc("ac")
            }
            else if(key == "=" || key == "Enter"){
                calc("=")
            }
			else if(key == "("){
				calc("(")
			}
			else if(key == ")"){
				calc(")")
			}
			else if(key == "Backspace"){
				calc("del")
			}else{
                calc(key)
            }
        }
        function calc(a) {
            switch(a){
                case "ac":
                    num = ""
                    screen = ""
                    document.getElementById("screen").innerText = "Press or Type"
                    break
                case "del":
                    num = num.slice(0,-1)
                    screen = screen.slice(0,-1)
					if (screen == ""){
						screen = ""
						document.getElementById("screen").innerText = "Press or Type"
					}
					else{
                    	document.getElementById("screen").innerText = screen
					}
                    break
                case "ans":
                    num += ans
                    screen += ans
                    document.getElementById("screen").innerText = screen
                    break
                case "+":
                    num = num +"+"
                    screen += "+"
                    document.getElementById("screen").innerText = screen
                    break
                case "(":
                    num = num +"("
                    screen += "("
                    document.getElementById("screen").innerText = screen
                    break
                case ")":
                    num = num +")"
                    screen += ")"
                    document.getElementById("screen").innerText = screen
                    break
                case "-":
                    num = num +"-"
                    screen += "-"
                    document.getElementById("screen").innerText = screen
                    break
                case "*":
                    num = num +"*"
                    screen += "x"
                    document.getElementById("screen").innerText = screen
                    break
                case "/":
                    num = num +"/"
                    screen += "÷"
                    document.getElementById("screen").innerText = screen
                    break
                case "0":
                    num = num +"0"
                    screen += "0"
                    document.getElementById("screen").innerText = screen
                    break
                case "1":
                    num = num +"1"
                    screen += "1"
                    document.getElementById("screen").innerText = screen
                    break
                case "2":
                    num = num +"2"
                    screen += "2"
                    document.getElementById("screen").innerText = screen
                    break
                case "3":
                    num = num +"3"
                    screen += "3"
                    document.getElementById("screen").innerText = screen
                    break
                case "4":
                    num = num +"4"
                    screen += "4"
                    document.getElementById("screen").innerText = screen
                    break
                case "5":
                    num = num +"5"
                    screen += "5"
                    document.getElementById("screen").innerText = screen
                    break
                case "6":
                    num = num +"6"
                    screen += "6"
                    document.getElementById("screen").innerText = screen
                    break
                case "7":
                    num = num +"7"
                    screen += "7"
                    document.getElementById("screen").innerText = screen
                    break
                case "8":
                    num = num +"8"
                    screen += "8"
                    document.getElementById("screen").innerText = screen
                    break
                case "9":
                    num = num +"9"
                    screen += "9"
                    document.getElementById("screen").innerText = screen
                    break
                case ".":
                    num = num +"."
                    screen += "."
                    document.getElementById("screen").innerText = screen
                    break
                case "=":
                    ans = eval(num)
                    screen += " = " + ans
                    document.getElementById("screen").innerText = screen
                    num = ""
                    screen = ""
                    break
                default:
                    break
            }
        }
    </script>
	<script src="/static/app.js"></script>
</body>
</html>